@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


:root {
    --cor-principal: aliceblue;
    --cor-secundaria: blue;
    --cor-terciaria: blanchedalmond;

    --fonte-principal: 'Roboto Slab', serif;


    /* 1rem = 16px */
    
}

    * {
margin: 0;
padding: 3px;
}

body {
height: 100vh;
box-sizing: border-box;
background-color:black;
color: aliceblue;
margin-top: 10px;
}


.cabecalho {
 color: aquamarine;
 font-family: var(--fonte-principal);
 font-weight: 500;
 padding: 1px 1px 1px 300px;
}

.cabecalho_menu {
display: flex;
gap: 80px;


}

.cabecalho_menu_link {
    text-decoration: none;
    color: rgb(173, 197, 248);
    font-weight: 600;
    background-color: rgb(17, 17, 17);
    width: 200px;
    text-align: center;
    font-size: 1rem;

 

}

.cabecalho_menu_link:hover {
font-size: 1.125rem;
}
.destaque_1 {
    color: var(--cor-secundaria);
    font-size: 1.875rem;
    font-family: var(--fonte-principal);
    
}

.container {
display: flex;
justify-content: center;
font-size: 2.5rem;
font-family: var(--fonte-principal);
}

.container1 {
display: flex;
text-align: center;
flex-direction: column;
font-family: var(--fonte-principal);
}

.container_titulo {
    font-size: 1.4375rem;
    font-family: var(--fonte-principal);
    
}

.container_paragrafo {
    font-size: 0.9375rem;
    font-family: var(--fonte-principal);
}

.container2 {
display: flex;
justify-content: center;
}

.container3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 8px;
  font-family: var(--fonte-principal);
}

.botao {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 350px;
    
}

.espacamento {
display: flex;
text-align: center;
flex-direction: column;
 gap: 1%;
 font-family: var(--fonte-principal);
}

.container_titulo1 {
    font-size: 1.4375rem;
    font-family: var(--fonte-principal);
}


.destaque_titulo3 {
    color: var(--cor-secundaria);
    font-size: 1.875rem;
    font-family: var(--fonte-principal);

}

.flex_redes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 20px 0;
}

.fonte_redes {
    font-size: 1.25rem;
font-family: var(--fonte-principal);
text-align: center;
font-weight: 200;
}

.link {
color: var(--cor-terciaria);
text-decoration-line: underline;

}

.fundo_botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color:black;
    border: solid 1px var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight:500;
    width: 220px;
    height: 20px;
    padding: 14px 0;
    border-radius: 5px;
    font-size: 1.25rem;
    color: rgb(225, 221, 240);
    opacity: 0.5;
    transition: 300ms;

}

.fundo_botao:hover {
background-color: rgb(96, 91, 116);
font-size: 1.875rem;
width: 300px;
height: 30px;

}

.centro {
 display: flex;
 justify-content: center;
}


.video_flexbox {
display: flex;
justify-content: center;
position: relative;
padding: 3% 0 0;

}

.teste2 {
 display: flex;
 justify-content: center;
}

.rodape {

    background-color: aqua;
    width: 100%;
    padding: 15px;
    margin-top: 35px;
    color: black;
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 800;
}